.rotatedSquare1 {
  fill: #0d1375;
  opacity: 0.4;
}

.rotatedSquare2 {
  fill: #2b7fb9;
  opacity: 0.4;
}

.rotatedSquare3 {
  fill: #280e78;
  opacity: 0.4;
}

.rotatedSquare4 {
  fill: #001e43;
  opacity: 0.4;
}