@import url('https://fonts.googleapis.com/css2?family=Oswald');

$foregroundColor: #000725;
$subtleForegroundColor: #1b1d50;

.menu {
  background: #EEEEEE;
}

.title {
  font-size: 104px;
  fill: $foregroundColor;
  font-family: 'Oswald', serif;
}

.subtitle {
  font-size: 72px;
  fill: $foregroundColor;
  font-family: 'Oswald', serif;
}

.menuItem {
  font-size: 48px;
  fill: $foregroundColor;
  font-family: 'Oswald', serif;
}

.description {
  font-size: 36px;
  fill: $foregroundColor;
  font-family: 'Oswald', serif;
}